include *.md
include unittest.cfg
include *.json
include *.txt
include CHANGELOG
recursive-include meitrack *.py
recursive-include tests *.json
recursive-include tests *.py
exclude .project
exclude pylintrc
exclude .pydevproject
exclude .idea
exclude setup.cfg
exclude misc
recursive-exclude misc *
exclude pylint.txt